<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuBtHh0Q7HEVFcU9VG0IYxtsOk8DCQYCc</string>
	<key>GCM_SENDER_ID</key>
	<string>321175735917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smcaApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>iot-fire-7e935</string>
	<key>STORAGE_BUCKET</key>
	<string>iot-fire-7e935.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321175735917:ios:0944e4bb0a881ced3e3964</string>
	<key>DATABASE_URL</key>
	<string>https://iot-fire-7e935-default-rtdb.firebaseio.com</string>
</dict>
</plist>